<div class="section-body">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="p-10">
      <div class="row">
      <div class="col-lg-6">
        <div class="row m-0">
          <div class="col-lg-8 p-0">
            <div class="ngxTableHeader">
              <div class="table-search-area">
                <div>
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" class="browser-default search-field"
                    aria-label="Search box">
                </div>
              </div>
              <div class="header-buttons-left">
                <div class="tbl-btn-style">
                  <button class="btn btn-icon  btn-primary ">
                  Add Sales
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
